.header{
    background-color: midnightblue;
    color: white;
    padding: 10px 10px ;
    text-align: center;
}
.logo{
    width: 100px;
}
.avatar{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: springgreen;
    color: white;
}
.col{
    border-radius: 50px;
    margin-top: 20px;
}
.m-30{
    margin: 30px;
}
.title{
    text-align: center;
}
.about{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: springgreen;
    color: white;
    margin-top: 50px;
}
.btn{
    border: 1px solid white;
    color: white;
}
.contact{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}